body {
    background-color: #1e7299;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #1409b1;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
